body
{
    color: rgb(21, 226, 21);
    text-align: center;
    font-family: 'arial';
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cbecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#cbecera{
    background: rgb(51, 156, 170);
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.0.5);
    color: rgb(145, 132, 132);
    font-weight: bold;
    margin: 0;
    padding: 0,5em;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid #d4cfd3;
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
}